DB_HOST=127.0.0.1
DB_NAME=darstories_danubeone_app
DB_USER=root
DB_PASS=

API_URL=https://middleware.danubeproperties.com/api/activity_list
LEADERBOARD_URL=https://middleware.danubeproperties.com/api/dar_leaderboard
API_USER_ID=
