DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=

API_URL=https://middleware.danubeproperties.com/api/activity_list
LEADERBOARD_URL=https://middleware.danubeproperties.com/api/dar_leaderboard
API_USER_ID=005NM000006ektXYAQ
